  
  h1 {
 color: rgb(23, 52, 184);
}

.ce{

padding-left: 0px;
}

/* סגנונות לגלגלת */
.filter-result-container {

    overflow-y: auto; /* הופעת הגלגלת רק בציר האנכי */
    max-height: 500px; /* הגבה המרבי של הגלגלת */
    border: 1px solid #ddd; /* קווי גבול סביב לגלגלת */
    padding: 10px; /* מרווח מסביב לגלגלת */
    scrollbar-width: thin; /* רוחב הגלגלת - עבור דפדפנים שתומכים */
    scrollbar-color: darkgray lightgray; /* צבעי גלגלת - עבור דפדפנים שתומכים */
}

/* רוחב גלגלת דפדפן Chrome, Safari ו-Edge */
.filter-result-container::-webkit-scrollbar {
    width: 8px;
}

/* צבעי גלגלת דפדפן Chrome, Safari ו-Edge */
.filter-result-container::-webkit-scrollbar-thumb {
    background-color:  #ffffff;
}

.filter-result-container::-webkit-scrollbar-track {
    background-color:  #ffffff;
}

/* רוחב גלגלת דפדפן Firefox */
.filter-result-container {
    scrollbar-width: thin;
    scrollbar-color: darkgray lightgray;
}
.input-group{
  width: 250px;
color:  #ffffff;


}
#contact-submit{
  border-color: #4e63d7;
  border-width: 5px;
}
.group-form {
    background-color: #ffffff;
    border-radius: 5px;
    padding: 0 16px;

    
    }
    
    .group-form .form-control {
    background-color: rgba(255, 255, 255, 0.2);
    border: 0;
    padding: 12px 15px;
  
    color: rgb(255, 255, 255);
    background-color: #4e63d7;
    
    }
    
    .group-form .form-control::-webkit-input-placeholder {
    color: rgb(255, 255, 255);
    }
    
    
    
    .group-form .select-container {
    position: relative;

    }
    
    .filter-result .group-box {
    background:#fff;
    -webkit-box-shadow: 0 0 35px 0 rgba(130, 130, 130, 0.2);
            box-shadow: 0 0 35px 0 rgba(130, 130, 130, 0.2);
    border-radius: 10px;
    padding: 10px 35px;
    
    }
    
    ul {
    list-style: none; 
    }
    
    .group-box .img-holder {
    height: 65px;
    width: 65px;
    background-color: #4e63d7;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(78, 99, 215, 0.9)), to(#5a85dd));
    background-image: linear-gradient(to right, rgba(78, 99, 215, 0.9) 0%, #5a85dd 100%);
    font-family: "Open Sans", sans-serif;
    color: #fff;
    font-size: 22px;
    font-weight: 700;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 65px;
    }
    .group-content ul li {
    font-weight: 600;
    opacity: 0.75;
    border-bottom: 1px solid #ccc;
    padding: 10px 5px;
    }
    
    .group-content ul li i {
    font-size: 3px;
    position: relative;
    top: 1px;
    }
    
    .mb-30 {
      margin-bottom: 10px;

    }
    